In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.metrics import r2_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
##import data i
C1 = pd.read_csv("/content/drive/My Drive/Omid Veisi Paper/All_data.csv")
C1 = C1.drop(['Unnamed: 0'], 1)
C1 = C1.rename(columns={'Average_Hight': 'avg_h'})
C1

           Scale  Orientation      avg_h  ...          Area  Type  Num. of blocks
0       1.304222   157.372173  16.403818  ...  35004.604390    C1               2
1       0.780589   241.798176  23.277614  ...  20530.369160    C1               2
2       0.653947     4.817916  25.163547  ...  17223.855440    C1               2
3       1.482083   156.012939  24.808307  ...  52162.875430    C1               2
4       1.420502   156.769033  13.148046  ...  36438.574390    C1               2
...          ...          ...        ...  ...           ...   ...             ...
170299  0.500000   220.739898   5.460557  ...   3236.654776    T5               9
170300  2.000000   229.787496  14.835401  ...  40400.904190    T5               9
170301  2.000000   201.445034  18.578852  ...  52447.755370    T5               9
170302  1.932261   264.325621   7.066935  ...  29876.071690    T5               9
170303  1.808121   202.135425   5.813648  ...  25986.226800    T5               9

[170304 rows x 8 columns]

In [ ]:
T = pd.read_csv("/content/drive/My Drive/Omid Veisi Paper/Test_data_Real.csv")
T = T.drop(['Unnamed: 9', 'Unnamed: 10', 'Test'], 1)
T = T.rename(columns={'Average_Hieght': 'avg_h'})
T

   Scale  Orientation  avg_h  ...          Area  Type  Num. of blocks
0      1          225  14.11  ...  168636.34390    C6              18
1      1          225  14.25  ...   37847.82678    H3              24
2      1          135  11.00  ...   17506.83131    S7              14
3      1          315  27.00  ...   59146.84364    S7              34
4      1          115   9.00  ...   11440.99770    P2              22
5      1          315  30.00  ...  103226.27820    T1              23
6      1          135  24.00  ...   60816.54026    C7              23
7      1          315   4.00  ...   14315.64016    C6              35
8      1          315  18.00  ...   89964.56153    S7              10
9      1            0  12.00  ...   14805.97553    T5               4

[10 rows x 8 columns]

In [ ]:
DF = pd.concat([C1,T])
DF

       Scale  Orientation      avg_h  ...          Area  Type  Num. of blocks
0   1.304222   157.372173  16.403818  ...   35004.60439    C1               2
1   0.780589   241.798176  23.277614  ...   20530.36916    C1               2
2   0.653947     4.817916  25.163547  ...   17223.85544    C1               2
3   1.482083   156.012939  24.808307  ...   52162.87543    C1               2
4   1.420502   156.769033  13.148046  ...   36438.57439    C1               2
..       ...          ...        ...  ...           ...   ...             ...
5   1.000000   315.000000  30.000000  ...  103226.27820    T1              23
6   1.000000   135.000000  24.000000  ...   60816.54026    C7              23
7   1.000000   315.000000   4.000000  ...   14315.64016    C6              35
8   1.000000   315.000000  18.000000  ...   89964.56153    S7              10
9   1.000000     0.000000  12.000000  ...   14805.97553    T5               4

[170314 rows x 8 columns]

In [ ]:
DF.Type = DF.Type.astype("category").cat.codes
new_cols = ['Scale','Orientation','avg_h','Type','Num. of blocks','Total Radiation','Volume','Area']
df = DF[new_cols]

In [ ]:
df.Type

0     0
1     0
2     0
3     0
4     0
     ..
5    30
6     6
7     5
8    29
9    34
Name: Type, Length: 170314, dtype: int8

In [ ]:
df

       Scale  Orientation  ...        Volume          Area
0   1.304222   157.372173  ...  153005.04240   35004.60439
1   0.780589   241.798176  ...   78277.59622   20530.36916
2   0.653947     4.817916  ...   59364.40999   17223.85544
3   1.482083   156.012939  ...  300510.04670   52162.87543
4   1.420502   156.769033  ...  146193.26900   36438.57439
..       ...          ...  ...           ...           ...
5   1.000000   315.000000  ...  400211.49190  103226.27820
6   1.000000   135.000000  ...  190039.79830   60816.54026
7   1.000000   315.000000  ...   16460.82483   14315.64016
8   1.000000   315.000000  ...  346914.83010   89964.56153
9   1.000000     0.000000  ...   45045.61155   14805.97553

[170314 rows x 8 columns]

In [ ]:
X = df.iloc[:,:5]
y = df.iloc[:,5:]

In [ ]:
X.shape

(170314, 5)

In [ ]:
y.shape

(170314, 3)

In [ ]:
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout, ReLU
from tensorflow.keras.layers import LeakyReLU
from tensorflow.keras.optimizers import SGD, Adam
import matplotlib.pyplot as plt
import numpy as np

**Model 1 from X to y**

In [ ]:
# standardize the inputs
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

X1 = X.copy()
col_names = ['Scale', 'Orientation', 'avg_h']
features = X1[col_names]
scaler1 = StandardScaler().fit(features.values)
features = scaler1.transform(features.values)
X1[col_names] = features

X1

       Scale  Orientation     avg_h  Type  Num. of blocks
0  -0.631570    -0.299510  0.666233     0               2
1  -1.754321     0.516527  1.934610     0               2
2  -2.025859    -1.774054  2.282609     0               2
3  -0.250210    -0.312648  2.217059     0               2
4  -0.382249    -0.305340  0.065467     0               2
..       ...          ...       ...   ...             ...
5  -1.283869     1.224073  3.175048    30              23
6  -1.283869    -0.515753  2.067907     6              23
7  -1.283869     1.224073 -1.622563     5              35
8  -1.283869     1.224073  0.960766    29              10
9  -1.283869    -1.820622 -0.146375    34               4

[170314 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
y1 = scaler.fit_transform(y)
y1

array([[0.21779345, 0.20035346, 0.2009757 ],
       [0.10881487, 0.10146616, 0.1144299 ],
       [0.08612232, 0.07643823, 0.09465926],
       ...,
       [0.07290245, 0.01966364, 0.07727017],
       [0.49727263, 0.4569555 , 0.52959779],
       [0.08066059, 0.05749007, 0.08020203]])

In [ ]:
X1_for_model = X1.iloc[:-10]
y1_for_model = y1[:-10]

X1_for_paper = X1.iloc[-10:]
y1_for_paper = y1[-10:]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X1_for_model,y1_for_model,test_size=0.3)

In [ ]:
model = Sequential()
model.add(Dense(8, input_dim=5, kernel_initializer='he_uniform',  
                 activation=LeakyReLU()))
model.add(Dense(16, activation=LeakyReLU()))
model.add(Dense(32, activation=LeakyReLU()))
model.add(Dense(16, activation=LeakyReLU()))
model.add(Dense(8, activation=LeakyReLU()))
model.add(Dense(3))
model.compile(optimizer=Adam(0.001),loss = 'mse')

In [ ]:
for i in range(20):
  model.fit(X_train, y_train,validation_data=(X_test, y_test),\
            epochs=10, verbose=2)
  y_pred = model.predict(X_test)
  print (f'loop {i} : r2score = {r2_score(y_test,y_pred)}')
  print ('-'*30)

Epoch 1/10
3726/3726 - 7s - loss: 0.0076 - val_loss: 0.0033 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 0.0028 - val_loss: 0.0021 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 0.0022 - val_loss: 0.0019 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 0.0018 - val_loss: 0.0016 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 0.0014 - val_loss: 0.0012 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 0.0012 - val_loss: 0.0011 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 0.0011 - val_loss: 0.0013 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 0.0010 - val_loss: 0.0011 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 9.7357e-04 - val_loss: 7.9757e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 8.9770e-04 - val_loss: 9.2599e-04 - 6s/epoch - 2ms/step
loop 0 : r2score = 0.9485141045882757
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 8.3411e-04 - val_loss: 7.6988e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 7.8489e-04 - val_loss: 7.2221e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 7.2730e-04 - val_loss: 7.4364e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 6.7165e-04 - val_loss: 8.4076e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 6.4731e-04 - val_loss: 6.5374e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 6.0838e-04 - val_loss: 9.1967e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 5.9177e-04 - val_loss: 4.8749e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 5.6838e-04 - val_loss: 4.5787e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 5.5509e-04 - val_loss: 4.7999e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 5.3254e-04 - val_loss: 4.2480e-04 - 6s/epoch - 2ms/step
loop 1 : r2score = 0.9773209885237985
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 5.2012e-04 - val_loss: 6.9015e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 5.0861e-04 - val_loss: 4.8808e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 5.0675e-04 - val_loss: 4.6299e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 4.9080e-04 - val_loss: 5.1004e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 4.8118e-04 - val_loss: 4.4780e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 4.7952e-04 - val_loss: 4.0420e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 4.6997e-04 - val_loss: 4.2602e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 4.6846e-04 - val_loss: 4.4772e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 4.6253e-04 - val_loss: 5.1087e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 4.5439e-04 - val_loss: 4.0331e-04 - 6s/epoch - 2ms/step
loop 2 : r2score = 0.9786928545105414
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 4.4995e-04 - val_loss: 4.4220e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 4.5481e-04 - val_loss: 5.1275e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 4.4545e-04 - val_loss: 5.7419e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 4.4379e-04 - val_loss: 3.9859e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 4.4145e-04 - val_loss: 3.8207e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 4.3145e-04 - val_loss: 4.7480e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 4.3139e-04 - val_loss: 4.6383e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 4.3156e-04 - val_loss: 4.1775e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 4.2794e-04 - val_loss: 3.8789e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 4.2960e-04 - val_loss: 4.1376e-04 - 7s/epoch - 2ms/step
loop 3 : r2score = 0.9781457895539186
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 4.2206e-04 - val_loss: 4.3992e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 4.2698e-04 - val_loss: 3.7080e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 4.2036e-04 - val_loss: 4.2176e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 4.1761e-04 - val_loss: 3.9469e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 4.1098e-04 - val_loss: 3.8455e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 4.1395e-04 - val_loss: 4.3442e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 4.1096e-04 - val_loss: 4.1234e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 4.0729e-04 - val_loss: 3.9616e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 4.0932e-04 - val_loss: 4.3865e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 4.0488e-04 - val_loss: 5.3957e-04 - 7s/epoch - 2ms/step
loop 4 : r2score = 0.9703702993048765
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 4.0277e-04 - val_loss: 4.3174e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 4.0282e-04 - val_loss: 3.8182e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 4.0571e-04 - val_loss: 4.1697e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 4.0310e-04 - val_loss: 3.6077e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 4.0367e-04 - val_loss: 3.6705e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 4.0146e-04 - val_loss: 3.9013e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.9889e-04 - val_loss: 3.7069e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.9864e-04 - val_loss: 4.2443e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.9888e-04 - val_loss: 4.1926e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 3.9775e-04 - val_loss: 4.5941e-04 - 7s/epoch - 2ms/step
loop 5 : r2score = 0.9755290174505166
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 3.9650e-04 - val_loss: 4.0977e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 3.9472e-04 - val_loss: 4.3236e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.9907e-04 - val_loss: 3.6396e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.9193e-04 - val_loss: 3.5190e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 3.9725e-04 - val_loss: 3.6788e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 3.9281e-04 - val_loss: 3.5203e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.8948e-04 - val_loss: 3.8016e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.9415e-04 - val_loss: 3.5029e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 3.9233e-04 - val_loss: 5.1054e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.8849e-04 - val_loss: 3.6659e-04 - 6s/epoch - 2ms/step
loop 6 : r2score = 0.9804390922107852
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 3.9103e-04 - val_loss: 3.7842e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 3.8825e-04 - val_loss: 4.6184e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.8894e-04 - val_loss: 3.7602e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 3.8877e-04 - val_loss: 4.1619e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.8735e-04 - val_loss: 4.9772e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.8855e-04 - val_loss: 4.1667e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.8509e-04 - val_loss: 3.6483e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.8773e-04 - val_loss: 3.6084e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 3.8351e-04 - val_loss: 3.3546e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.8445e-04 - val_loss: 3.6151e-04 - 6s/epoch - 2ms/step
loop 7 : r2score = 0.9809301387716468
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 3.8657e-04 - val_loss: 4.1077e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 3.8715e-04 - val_loss: 3.8560e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.8609e-04 - val_loss: 3.5623e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.8186e-04 - val_loss: 3.4963e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 3.8255e-04 - val_loss: 3.8337e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.8218e-04 - val_loss: 3.5747e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.8466e-04 - val_loss: 3.7929e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.8256e-04 - val_loss: 4.0791e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.8449e-04 - val_loss: 3.5577e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.8292e-04 - val_loss: 3.3039e-04 - 6s/epoch - 2ms/step
loop 8 : r2score = 0.9826948660024245
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.7801e-04 - val_loss: 3.8605e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.8061e-04 - val_loss: 3.4831e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.7743e-04 - val_loss: 4.0539e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.7987e-04 - val_loss: 3.6400e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 3.8027e-04 - val_loss: 3.6288e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.7787e-04 - val_loss: 3.8402e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.7836e-04 - val_loss: 4.6682e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.7850e-04 - val_loss: 3.5613e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.7973e-04 - val_loss: 4.1395e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 3.7913e-04 - val_loss: 3.6550e-04 - 7s/epoch - 2ms/step
loop 9 : r2score = 0.9806191792970655
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 3.7742e-04 - val_loss: 4.5550e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.7916e-04 - val_loss: 4.4356e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.7995e-04 - val_loss: 3.9801e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.7798e-04 - val_loss: 3.9199e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.7640e-04 - val_loss: 3.6439e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.7699e-04 - val_loss: 3.4682e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.7728e-04 - val_loss: 3.3691e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.7702e-04 - val_loss: 3.7972e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.7221e-04 - val_loss: 4.8387e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.7288e-04 - val_loss: 3.7752e-04 - 6s/epoch - 2ms/step
loop 10 : r2score = 0.9801415900036172
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.7249e-04 - val_loss: 3.5558e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 3.7640e-04 - val_loss: 3.8230e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 3.7262e-04 - val_loss: 3.5247e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.7504e-04 - val_loss: 3.5134e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.7673e-04 - val_loss: 3.6954e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 8s - loss: 3.7386e-04 - val_loss: 3.7327e-04 - 8s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.7587e-04 - val_loss: 3.8599e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.7155e-04 - val_loss: 4.1931e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.7398e-04 - val_loss: 3.8250e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.7386e-04 - val_loss: 3.4271e-04 - 6s/epoch - 2ms/step
loop 11 : r2score = 0.9818560700602098
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.7444e-04 - val_loss: 4.1529e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.7585e-04 - val_loss: 3.4809e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.7458e-04 - val_loss: 3.4540e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.7320e-04 - val_loss: 3.4829e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.7255e-04 - val_loss: 3.8638e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 3.7324e-04 - val_loss: 3.4313e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.7145e-04 - val_loss: 4.0969e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.7422e-04 - val_loss: 3.9897e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.6824e-04 - val_loss: 3.2804e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.7365e-04 - val_loss: 3.4744e-04 - 6s/epoch - 2ms/step
loop 12 : r2score = 0.9817777297784335
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.7300e-04 - val_loss: 3.8624e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 3.7331e-04 - val_loss: 3.7386e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 3.7142e-04 - val_loss: 4.7197e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.7170e-04 - val_loss: 4.2257e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.6820e-04 - val_loss: 3.3680e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 3.7038e-04 - val_loss: 3.4596e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.7295e-04 - val_loss: 4.6366e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.6958e-04 - val_loss: 3.6295e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 3.6893e-04 - val_loss: 4.0746e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.7135e-04 - val_loss: 3.8121e-04 - 6s/epoch - 2ms/step
loop 13 : r2score = 0.9797994838203331
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.6943e-04 - val_loss: 3.5251e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 8s - loss: 3.6756e-04 - val_loss: 3.4648e-04 - 8s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 3.6999e-04 - val_loss: 3.9091e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.7162e-04 - val_loss: 3.4343e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 3.6898e-04 - val_loss: 3.3737e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.6505e-04 - val_loss: 3.5343e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.6669e-04 - val_loss: 3.3553e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.6969e-04 - val_loss: 3.9196e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 3.6423e-04 - val_loss: 3.3983e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.6767e-04 - val_loss: 3.6324e-04 - 6s/epoch - 2ms/step
loop 14 : r2score = 0.9809050309477452
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.6642e-04 - val_loss: 3.4157e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.6607e-04 - val_loss: 3.5140e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 3.6843e-04 - val_loss: 4.2310e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.6821e-04 - val_loss: 3.4270e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.6509e-04 - val_loss: 3.5086e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 3.6700e-04 - val_loss: 3.5628e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.6547e-04 - val_loss: 3.3940e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 3.6777e-04 - val_loss: 3.5641e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.6559e-04 - val_loss: 3.5757e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 3.6780e-04 - val_loss: 3.4376e-04 - 7s/epoch - 2ms/step
loop 15 : r2score = 0.9818321649152102
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 3.6278e-04 - val_loss: 3.9232e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.6715e-04 - val_loss: 3.5510e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 3.6707e-04 - val_loss: 3.6709e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 3.6244e-04 - val_loss: 3.5519e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 3.6580e-04 - val_loss: 3.4201e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 3.6711e-04 - val_loss: 3.4719e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.6583e-04 - val_loss: 3.8733e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 3.6430e-04 - val_loss: 4.2793e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.6477e-04 - val_loss: 3.5231e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.6415e-04 - val_loss: 3.8993e-04 - 6s/epoch - 2ms/step
loop 16 : r2score = 0.9795515595255878
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.6786e-04 - val_loss: 3.3815e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.6495e-04 - val_loss: 3.3161e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.6631e-04 - val_loss: 3.8455e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 6s - loss: 3.6346e-04 - val_loss: 4.2604e-04 - 6s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 7s - loss: 3.6787e-04 - val_loss: 3.3060e-04 - 7s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 7s - loss: 3.6398e-04 - val_loss: 3.7258e-04 - 7s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 7s - loss: 3.6418e-04 - val_loss: 3.6723e-04 - 7s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.6297e-04 - val_loss: 3.3593e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.6057e-04 - val_loss: 3.6049e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 3.6331e-04 - val_loss: 3.5707e-04 - 7s/epoch - 2ms/step
loop 17 : r2score = 0.9809893724353586
------------------------------
Epoch 1/10
3726/3726 - 7s - loss: 3.6349e-04 - val_loss: 3.3765e-04 - 7s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 6s - loss: 3.6235e-04 - val_loss: 3.2387e-04 - 6s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 7s - loss: 3.6193e-04 - val_loss: 3.7831e-04 - 7s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.6511e-04 - val_loss: 3.4357e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.6358e-04 - val_loss: 3.5656e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.6261e-04 - val_loss: 4.0050e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.6152e-04 - val_loss: 3.7630e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 6s - loss: 3.6351e-04 - val_loss: 3.5513e-04 - 6s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 6s - loss: 3.6296e-04 - val_loss: 3.6000e-04 - 6s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 6s - loss: 3.6199e-04 - val_loss: 3.3467e-04 - 6s/epoch - 2ms/step
loop 18 : r2score = 0.9824534456222603
------------------------------
Epoch 1/10
3726/3726 - 6s - loss: 3.6286e-04 - val_loss: 3.5605e-04 - 6s/epoch - 2ms/step
Epoch 2/10
3726/3726 - 7s - loss: 3.6204e-04 - val_loss: 3.9759e-04 - 7s/epoch - 2ms/step
Epoch 3/10
3726/3726 - 6s - loss: 3.6020e-04 - val_loss: 4.0066e-04 - 6s/epoch - 2ms/step
Epoch 4/10
3726/3726 - 7s - loss: 3.6117e-04 - val_loss: 3.3647e-04 - 7s/epoch - 2ms/step
Epoch 5/10
3726/3726 - 6s - loss: 3.6109e-04 - val_loss: 3.6940e-04 - 6s/epoch - 2ms/step
Epoch 6/10
3726/3726 - 6s - loss: 3.6090e-04 - val_loss: 3.3110e-04 - 6s/epoch - 2ms/step
Epoch 7/10
3726/3726 - 6s - loss: 3.6084e-04 - val_loss: 3.3942e-04 - 6s/epoch - 2ms/step
Epoch 8/10
3726/3726 - 7s - loss: 3.6357e-04 - val_loss: 3.4285e-04 - 7s/epoch - 2ms/step
Epoch 9/10
3726/3726 - 7s - loss: 3.5960e-04 - val_loss: 3.2541e-04 - 7s/epoch - 2ms/step
Epoch 10/10
3726/3726 - 7s - loss: 3.5986e-04 - val_loss: 4.1923e-04 - 7s/epoch - 2ms/step
loop 19 : r2score = 0.9777602030848311
------------------------------

In [ ]:
model.save('/content/drive/My Drive/Omid Veisi Paper/model1')

WARNING:absl:Found untraced functions such as leaky_re_lu_layer_call_fn, leaky_re_lu_layer_call_and_return_conditional_losses, leaky_re_lu_1_layer_call_fn, leaky_re_lu_1_layer_call_and_return_conditional_losses, leaky_re_lu_2_layer_call_fn while saving (showing 5 of 25). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: /content/drive/My Drive/Omid Veisi Paper/model1/assets

INFO:tensorflow:Assets written to: /content/drive/My Drive/Omid Veisi Paper/model1/assets

In [ ]:
model = keras.models.load_model('/content/drive/My Drive/Omid Veisi Paper/model1')

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 48

 dense_1 (Dense)             (None, 16)                144

 dense_2 (Dense)             (None, 32)                544

 dense_3 (Dense)             (None, 16)                528

 dense_4 (Dense)             (None, 8)                 136

 dense_5 (Dense)             (None, 3)                 27

=================================================================
Total params: 1,427
Trainable params: 1,427
Non-trainable params: 0
_________________________________________________________________

In [ ]:
def preprocess(x):
  XX = x.copy()
  col_names = ['Scale', 'Orientation', 'avg_h']
  features = XX[col_names]
  features = scaler1.transform(features.values)
  XX[col_names] = features
  return XX

In [ ]:
# Scale,	Orientation,	Average_Hight,	Type,	Num. of blocks,
# for_prediction = np.array([])
# t = np.reshape(for_prediction, (1, 5))
t = X
t = preprocess(t)
result = model.predict(t)
# scaler.inverse_transform(result)

In [ ]:
r2_score(y,scaler.inverse_transform(result))

0.9773250152994438

In [ ]:
y_test.shape

(51092, 3)

In [ ]:
X_test.shape

(51092, 5)

In [ ]:
y_pred = model.predict(X_test)
print (r2_score(y_test,y_pred))

0.9777602030848311

In [ ]:
u = zip(X_test.index[:],range(len(X_test)),X.iloc[X_test.index][:].values,y.iloc[X_test.index][:].values,scaler.inverse_transform(model.predict(X_test))[:])

with open('/content/drive/My Drive/Omid Veisi Paper/Test report.txt', 'w') as f:
    f.write ('X variables = {Scale,	Orientation,	avg_h,	Type,	Num. of blocks}\n')
    f.write ('y variables = {Total Radiation,	Volume,	Area}\n')
    f.write ('-'*10 + '\n')

    for m,l,k,i,j in u:
      f.write (f'test data number= {l}\n')
      f.write (f'data row index= {m}\n')
      f.write (f'variables = {k}\n')
      f.write (f'real = {i}\n')
      f.write (f'fake = {j}\n')
      f.write ('-'*10 + '\n')

**Test Data for Paper**

In [ ]:
X1_for_paper

      Scale  Orientation     avg_h  Type  Num. of blocks
0 -1.283869     0.354160  0.242970     5              18
1 -1.283869     0.354160  0.268803     9              24
2 -1.283869    -0.515753 -0.330898    29              14
3 -1.283869     1.224073  2.621478    29              34
4 -1.283869    -0.709067 -0.699945    17              22
5 -1.283869     1.224073  3.175048    30              23
6 -1.283869    -0.515753  2.067907     6              23
7 -1.283869     1.224073 -1.622563     5              35
8 -1.283869     1.224073  0.960766    29              10
9 -1.283869    -1.820622 -0.146375    34               4

In [ ]:
v = zip(X1_for_paper.index[:],
        range(len(X1_for_paper)),
        X.iloc[-10:].values,
        y.iloc[-10:].values,
        scaler.inverse_transform(model.predict(X1_for_paper))[:])

with open('/content/drive/My Drive/Omid Veisi Paper/Test report 2.txt', 'w') as f:
    f.write ('X variables = {Scale,	Orientation,	avg_h,	Type,	Num. of blocks}\n')
    f.write ('y variables = {Total Radiation,	Volume,	Area}\n')
    f.write ('-'*10 + '\n')

    for m,l,k,i,j in v:
      f.write (f'test data number= {l}\n')
      f.write (f'data row index= {m}\n')
      f.write (f'variables = {k}\n')
      f.write (f'real = {i}\n')
      f.write (f'fake = {j}\n')
      f.write ('-'*10 + '\n')

In [ ]:
history = model.fit(X, y, validation_split=0.33, epochs=150, batch_size=10, verbose=0)